menu "ESP Matter Zigbee Bridge Example"

    choice ESP_MATTER_ZIGBEE_BRIDGE_BOARD_TYPE
       prompt "Zigbee Bridge board type"
        default ESP_MATTER_ZIGBEE_BRIDGE_BOARD_STANDALONE
        help
            The board running the Zigbee bridge.

        config ESP_MATTER_ZIGBEE_BRIDGE_BOARD_STANDALONE
            bool "Standalone DevKits"
            help
                Standalone ESP Wi-Fi DevKits (Such as ESP32/ESP32-S3) manually connected to the Zigbee RCP (Such as ESP32-H2)

        config ESP_MATTER_ZIGBEE_BRIDGE_BOARD_DEV_KIT
            bool "Zigbee gateway DevKit"
            help
                Integrated Zigbee gateway DevKit

    endchoice

    menu "Board Configuration"
        config PIN_TO_RCP_TX
            int "Pin to RCP TX"
            default 17 if ESP_MATTER_ZIGBEE_BRIDGE_BOARD_DEV_KIT
            default 4  if ESP_MATTER_ZIGBEE_BRIDGE_BOARD_STANDALONE

        config PIN_TO_RCP_RX
            int "PIN to RCP RX"
            default 18 if ESP_MATTER_ZIGBEE_BRIDGE_BOARD_DEV_KIT
            default 5  if ESP_MATTER_ZIGBEE_BRIDGE_BOARD_STANDALONE

    endmenu

endmenu
