menu "ESP Matter"

    config ESP_MATTER_USE_ESP_DAC_PROVIDER
        bool "Use ESP Matter DAC Provider"
        default n
        help
            Use the ESP Matter DAC provider instead of the example DAC provider.
            ESP Matter DAC provider reads the attestation certificates and keys
            from the factory partition. Before enabling please flash the factory
            partition with the attestation certificates and keys.

endmenu
