# matter idl
lark==1.1.2
stringcase==1.2.0
# jinja2 is removed in IDF v5.0 environment, but it is required for matter building
jinja2==3.1.5

# https://github.com/psf/requests/blob/main/HISTORY.md#2300-2023-05-03
urllib3<2

# mfg_tool
esp-matter-mfg-tool>=1.0.4
