# matter idl
lark==1.1.2
stringcase==1.2.0

# esp-idf v4.4 is not compatible with newer version of jinja2,
# so pinning it to 3.0.1
jinja2==3.0.1

# https://github.com/psf/requests/blob/main/HISTORY.md#2300-2023-05-03
urllib3<2

# mfg_tool
esp-matter-mfg-tool>=1.0.4
