# Long Idle Time ICD configuration
CONFIG_ICD_SLOW_POLL_INTERVAL_MS=20000
CONFIG_ICD_IDLE_MODE_INTERVAL_SEC=600
CONFIG_ICD_ACTIVE_MODE_THRESHOLD_MS=5000
CONFIG_ENABLE_ICD_LIT=y
CONFIG_ICD_CLIENTS_SUPPORTED_PER_FABRIC=2
CONFIG_ICD_MAX_NOTIFICATION_SUBSCRIBERS=2
CONFIG_ENABLE_EXTENDED_DISCOVERY=y
