CONFIG_IDF_TARGET="esp32h2"

# Flash size optimization
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y
CONFIG_COMPILER_OPTIMIZATION_CHECKS_SILENT=y
CONFIG_COMPILER_SAVE_RESTORE_LIBCALLS=y

# Increase IPv6 address number in netif structure
CONFIG_LWIP_IPV6_NUM_ADDRESSES=8

# Disable Route hook
CONFIG_LWIP_HOOK_IP6_ROUTE_DEFAULT=n
CONFIG_LWIP_HOOK_ND6_GET_GW_DEFAULT=n

# Enable OpenThread
CONFIG_OPENTHREAD_ENABLED=y
CONFIG_OPENTHREAD_LOG_LEVEL_DYNAMIC=n
CONFIG_OPENTHREAD_LOG_LEVEL_NOTE=y
CONFIG_OPENTHREAD_DNS64_CLIENT=y
CONFIG_ENABLE_THREAD_TELEMETRY=y

# esp_matter::start() will not initialize Thread stack as we initialize it in app_network.
CONFIG_ESP_MATTER_ENABLE_OPENTHREAD=n

# Use platform mDNS
CONFIG_USE_MINIMAL_MDNS=n

# Disable Matter over Wi-Fi
CONFIG_ENABLE_WIFI_STATION=n
CONFIG_ENABLE_WIFI_TELEMETRY=n

# Disable ECDSA Peripheral
CONFIG_USE_ESP32_ECDSA_PERIPHERAL=n
CONFIG_ESP_SECURE_CERT_DS_PERIPHERAL=n

# Memory Optimization
CONFIG_EVENT_LOGGING_CRIT_BUFFER_SIZE=512
CONFIG_EVENT_LOGGING_INFO_BUFFER_SIZE=256
CONFIG_EVENT_LOGGING_DEBUG_BUFFER_SIZE=256
CONFIG_ESP_MATTER_MAX_DYNAMIC_ENDPOINT_COUNT=2

# BSP Configuration
CONFIG_BUTTON_PERIOD_TIME_MS=20
CONFIG_BUTTON_LONG_PRESS_TIME_MS=5000
CONFIG_BSP_BUTTONS_NUM=1
CONFIG_BSP_BUTTON_1_GPIO=9
CONFIG_BSP_LED_TYPE_RGB=y
CONFIG_BSP_LED_RGB_GPIO=8
