menu "ESP Matter with Thread BR"
    depends on OPENTHREAD_BORDER_ROUTER

    config OPENTHREAD_BR_AUTO_UPDATE_RCP
        bool 'Update RCP automatically'
        default n
        help
            If enabled, the Thread Border Router will store the RCP image in its firmware and
            compare the stored image version with the running RCP image upon boot. The RCP
            will be automatically updated upon version mismatch.
endmenu
