menu "ST25R3916 reader"

config ST25R3916_PIN_SDA
    int "I2C SDA GPIO"
    default 6

config ST25R3916_PIN_SCL
    int "I2C SCL GPIO"
    default 7

config ST25R3916_I2C_PORT
    int "I2C port"
    default 0

config ST25R3916_TRANSCEIVE_TIMEOUT_MS
    int "Default ISO-DEP transceive timeout (ms)"
    default 100

endmenu # menu "ST25R3916 reader"
