menu "ESP Matter Factory"

    config ESP_MATTER_FACTORY_PARTITION
        string "Matter Factory Partition Name"
        default "fctry"
        help
            Partition name where the matter factory is located.

    config ESP_MATTER_FACTORY_NAMESPACE
        string "Matter Factory Namespace Name"
        default "chip_creds"

endmenu
