CONFIG_IDF_TARGET="esp32h2"

# Partition
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_OFFSET=0xC000

# Enable Aliro over NFC
CONFIG_ENABLE_ALIRO_OVER_NFC=y

# NFC Unit Pins
CONFIG_ST25R3916_PIN_SDA=2
CONFIG_ST25R3916_PIN_SCL=1

# Compiler optimization
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y
CONFIG_COMPILER_SAVE_RESTORE_LIBCALLS=y

# BLE
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_ROLE_CENTRAL=n
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_ENABLE_CONN_REATTEMPT=n

# Increase main task stack size
CONFIG_ESP_MAIN_TASK_STACK_SIZE=5120

# LwIP
CONFIG_LWIP_IPV6_NUM_ADDRESSES=8
CONFIG_LWIP_MULTICAST_PING=y

# MbedTLS
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
CONFIG_MBEDTLS_ROM_MD5=n
CONFIG_MBEDTLS_HAVE_TIME=n
CONFIG_MBEDTLS_SHA512_C=n
CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ELLIPTIC_CURVE=n
CONFIG_MBEDTLS_SSL_RENEGOTIATION=n
CONFIG_MBEDTLS_SSL_ALPN=n
CONFIG_MBEDTLS_CLIENT_SSL_SESSION_TICKETS=n
CONFIG_MBEDTLS_SERVER_SSL_SESSION_TICKETS=n
CONFIG_MBEDTLS_X509_CRL_PARSE_C=n
CONFIG_MBEDTLS_X509_CSR_PARSE_C=n
CONFIG_MBEDTLS_PK_PARSE_EC_COMPRESSED=n
CONFIG_MBEDTLS_ECP_DP_SECP384R1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_SECP521R1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_SECP256K1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_BP256R1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_BP384R1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_BP512R1_ENABLED=n
CONFIG_MBEDTLS_ECP_DP_CURVE25519_ENABLED=n
CONFIG_MBEDTLS_HKDF_C=y
CONFIG_MBEDTLS_ERROR_STRINGS=n
CONFIG_MBEDTLS_FS_IO=n

# OpenThread
CONFIG_OPENTHREAD_ENABLED=y
CONFIG_OPENTHREAD_CLI=n
CONFIG_OPENTHREAD_MTD=y
CONFIG_OPENTHREAD_DIAG=n
CONFIG_OPENTHREAD_LOG_LEVEL_DYNAMIC=n
CONFIG_OPENTHREAD_LOG_LEVEL_WARN=y

# Disable Wi-Fi Station
CONFIG_ENABLE_WIFI_STATION=n

# Use platform mdns
CONFIG_USE_MINIMAL_MDNS=n

# Route hook is unnecessary for Thread device
CONFIG_ENABLE_ROUTE_HOOK=n

# 2 max dynamic endpoint count
CONFIG_ESP_MATTER_MAX_DYNAMIC_ENDPOINT_COUNT=2

# Disable Groupcast cluster as it is not verified
CONFIG_SUPPORT_GROUPCAST_CLUSTER=n
