menu "ESP Matter Controller"

    config ESP_MATTER_CONTROLLER_ENABLE
        bool "Enable matter controller"
        default n
        help
            Enable the controller.

    config ESP_MATTER_CONTROLLER_VENDOR_ID
        int "Matter Controller Vendor ID"
        depends on ESP_MATTER_CONTROLLER_ENABLE && !ESP_MATTER_ENABLE_MATTER_SERVER
        default 4891
        help
            Vendor ID for the controller

    config ESP_MATTER_COMMISSIONER_ENABLE
        bool "Enable matter commissioner"
        depends on ESP_MATTER_CONTROLLER_ENABLE && !ESP_MATTER_ENABLE_MATTER_SERVER
        default y
        help
            Enable the matter commissioner in the ESP Matter controller.

    choice ESP_MATTER_COMMISSIONER_ATTESTATION_TRUST_STORE
        prompt "Attestation Trust Store"
        depends on ESP_MATTER_COMMISSIONER_ENABLE
        default TEST_ATTESTATION_TRUST_STORE
        help
            This option determines where the commissioner reads PAA trust root certificate.

        config TEST_ATTESTATION_TRUST_STORE
            bool "Attestation Trust Store - Test"
            help
                Use the two hardcoded PAA certificates(Chip-Test-PAA-FFF1-Cert&Chip-Test-PAA-NoVID-Cert) in the firmware.

        config SPIFFS_ATTESTATION_TRUST_STORE
            bool "Attestation Trust Store - Spiffs"
            help
                Read the PAA root certificates from the spiffs partition

        config DCL_ATTESTATION_TRUST_STORE
            bool "Attestation Trust Store - DCL"
            help
                Read the PAA root certificates from DCL

        config CUSTOM_ATTESTATION_TRUST_STORE
            bool "Attestation Trust Store - Custom"
            help
                Use the custom Attestation Trust Store

    endchoice

    choice ESP_MATTER_COMMISSIONER_OPERATIONAL_CREDS_ISSUER
        prompt "Operational Credentials Issuer"
        depends on !ESP_MATTER_ENABLE_MATTER_SERVER
        default TEST_OPERATIONAL_CREDS_ISSUER
        help
            This option determines how the commissioner generates the NOC chains for the end-devices and itself.

        config TEST_OPERATIONAL_CREDS_ISSUER
            bool "Operational Credentials Issuer - Test"
            help
                Use the ExampleOperationalCredentialsIssuer from Matter controller Code

        config CUSTOM_OPERATIONAL_CREDS_ISSUER
            bool "Operational Credentials Issuer - Custom"
            help
                Use the custom OperationalCredentialsIssuer

    endchoice

endmenu
