{{ file_header }}

#include <esp_log.h>
#include <esp_matter_core.h>
#include <esp_matter.h>

#include <app-common/zap-generated/cluster-enums.h>
{% if cluster.needs_callback_header() %}
#include <app-common/zap-generated/callback.h>
{% endif %}
{% if cluster.plugin_server_init_callback != None %}
#include <zap_common/app/PluginApplicationCallbacks.h>
{% endif %}
{% if "mode" in cluster.esp_name %}
{% from "exceptions/mode.jinja" import cluster_includes with context %}
{{ cluster_includes() }}
{% endif %}
{% if cluster.delegate_init_callback_available %}
#include <esp_matter_delegate_callbacks.h>
{% endif %}
#include <{{ cluster.esp_name }}.h>
#include <{{ cluster.esp_name }}_ids.h>
#include <binding.h>
#include <esp_matter_data_model_priv.h>
{% if cluster.is_migrated_cluster %}
#include <app/ClusterCallbacks.h>
{% endif %}

{% if cluster.esp_name == "switch_cluster" %}
{% from "exceptions/switch_cluster.jinja" import cluster_includes with context %}
{{ cluster_includes() }}
{% endif %}
using namespace chip::app::Clusters;
{% if cluster.has_command_callbacks() %}
using chip::app::CommandHandler;
using chip::app::DataModel::Decode;
using chip::TLV::TLVReader;
{% endif %}
using namespace esp_matter;
using namespace esp_matter::cluster;
{% if cluster.delegate_init_callback_available %}
using namespace esp_matter::cluster::delegate_cb;
{% endif %}

{% if cluster.needs_log_tag() %}
static const char *TAG = "esp_matter_cluster";
{% endif %}
constexpr uint16_t cluster_revision = {{ cluster.get_revision() }};
{% include "command_callback.cpp.jinja" | indent(4) %}

namespace esp_matter {
namespace cluster {
namespace {{ cluster.esp_name }} {

{% include "feature.cpp.jinja" | indent(4) %}
{% include "attribute.cpp.jinja" | indent(4) %}
{% include "command.cpp.jinja" | indent(4) %}
{% include "event.cpp.jinja" | indent(4) %}

{% if cluster.id != "0xffff" %}
{% if cluster.callback_functions | length > 0 %}
const function_generic_t function_list[] = {
    {% for function in cluster.callback_functions %}
    (function_generic_t){{ function }},
    {% endfor %}
};
{% else %}
const function_generic_t *function_list = NULL;
{% endif %}

const int function_flags = {{ cluster.function_flags }};

cluster_t *create(endpoint_t *endpoint, config_t *config, uint8_t flags)
{
    cluster_t *cluster = esp_matter::cluster::create(endpoint, {{ cluster.esp_name }}::Id, flags);
    VerifyOrReturnValue(cluster, NULL, ESP_LOGE(TAG, "Could not create cluster. cluster_id: 0x%08" PRIX32, {{ cluster.esp_name }}::Id));
{{ guard_open(cluster) -}}
    if (flags & CLUSTER_FLAG_SERVER) {
        VerifyOrReturnValue(config != NULL, ABORT_CLUSTER_CREATE(cluster));
        {% if cluster.delegate_init_callback %}
        if (config->delegate != nullptr) {
            static const auto delegate_init_cb = {{ cluster.delegate_init_callback }};
            set_delegate_and_init_callback(cluster, delegate_init_cb, config->delegate);
        }
        {% endif %}
        {% if cluster.plugin_server_init_callback != None %}
        static const auto plugin_server_init_cb = CALL_ONCE({{ cluster.plugin_server_init_callback }});
        set_plugin_server_init_callback(cluster, plugin_server_init_cb);
        {% endif %}
        add_function_list(cluster, function_list, function_flags);

        /* Attributes managed internally */
        global::attribute::create_feature_map(cluster, {% if cluster.has_choice_features() %}config->feature_flags{% else %}0{% endif %});

        /* Attributes not managed internally */
        global::attribute::create_cluster_revision(cluster, cluster_revision);

        {% set attrs = cluster.get_mandatory_attributes() %}
        {% filter indent(8, true) %}
        {% include "common.attribute.cpp.jinja" %}
        {% endfilter %}
        {% for condition, comp_attrs in cluster.get_comparison_conditional_attributes() %}
        if ({{ condition }}) {
            {% set attrs = comp_attrs %}
            {% filter indent(12, true) %}
            {% include "common.attribute.cpp.jinja" %}
            {% endfilter %}
        }
        {% endfor %}
        {% if cluster.has_choice_features() %}

        {% filter indent(8, true) %}
        {% include "common.feature.cpp.jinja" %}
        {% endfilter %}
        {% endif %}
        {% for command in cluster.get_mandatory_commands() %}
{{ guard_open(command) -}}
        command::create_{{ command.func_name | lower }}(cluster);
{{ guard_close(command) -}}
        {% endfor %}
        {% if cluster.get_mandatory_events() | length > 0 %}
        /* Events */
        {% for event in cluster.get_mandatory_events() %}
{{ guard_open(event) -}}
        event::create_{{ event.func_name | lower }}(cluster);
{{ guard_close(event) -}}
        {% endfor %}
        {% endif %}
        {% if cluster.is_migrated_cluster %}

        cluster::set_init_and_shutdown_callbacks(cluster, {{ cluster.get_cluster_init_callback() }},
                                                 {{ cluster.get_cluster_shutdown_callback() }});
        {% endif %}
    }
{{ guard_close(cluster) }}
    {% if cluster.role == "application" and not cluster.is_derived_cluster and not cluster.name == "Binding" %}
    if (flags & CLUSTER_FLAG_CLIENT) {
        create_default_binding_cluster(endpoint);
    }
    {% endif %}
    return cluster;
}

{% endif %}
} /* {{ cluster.esp_name }} */
} /* cluster */
} /* esp_matter */

