{{ file_header }}

#pragma once
#include <esp_matter_data_model.h>

namespace esp_matter {
namespace cluster {
namespace {{ cluster.esp_name }} {

{# declare constants for string and octstr attributes #}
{% for attribute in cluster.get_attributes() %}
{% if not attribute.is_internally_managed %}
{% if attribute.type == "string" or attribute.type == "octstr" %}
const {{ attribute.get_default_value_type() }} k_max_{{ attribute.func_name }}_length = {{ attribute.get_max_value() }}u;
{% endif %}
{% endif %}
{% endfor %}
{% include "feature.h.jinja" | indent(4) %}
{% include "attribute.h.jinja" | indent(4) %}
{% include "command.h.jinja" | indent(4) %}
{% include "event.h.jinja" | indent(4) %}
{% set feature_list = cluster.get_features() if cluster.has_choice_features() else [] %}
{% if cluster.id != "0xffff" %}
{# declare config for cluster #}
typedef struct config {
    {% for attribute in cluster.get_mandatory_attributes() %}
    {% if not attribute.is_internally_managed %}
{{ attr_member(attribute, '    ') -}}
    {% endif %}
    {% endfor %}
{# declare config for comparison conditional attributes decided at runtime #}
    {% for condition, comp_attrs in cluster.get_comparison_conditional_attributes() %}
    {% for attribute in comp_attrs %}
    {% if not attribute.is_internally_managed %}
{{ attr_member(attribute, '    ') -}}
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% if cluster.delegate_init_callback and cluster.id != "0xffff" %}
    void *delegate;
    {% endif %}
{# declare config struct for features if cluster has (O.a, O.a+) features #}
    {% if feature_list %}
    {% if cluster.get_config_features() %}
    struct {
        {% for feature in cluster.get_config_features() %}
        feature::{{ feature.func_name | lower }}::config_t {{ feature.func_name | lower }};
        {% endfor %}
    } features;
    {% endif %}
    uint32_t feature_flags;
    {% endif %}
    {% set init_list = cluster.get_config_init_list() %}
    config(){% if init_list %} : {{ init_list | join(", ") }}{% endif %} {}
} config_t;

cluster_t *create(endpoint_t *endpoint, config_t *config, uint8_t flags);
{% endif %}

} /* {{ cluster.esp_name }} */
} /* cluster */
} /* esp_matter */

