{{ file_header }}

#pragma once
#include <esp_matter_data_model.h>

namespace esp_matter {
namespace cluster {
namespace {{ cluster.esp_name }} {

inline constexpr uint32_t Id = {{ cluster.get_id() }};
{% set features = cluster.get_features() %}
{% if features | length > 0 %}

namespace feature {
{# ---------- Feature IDs ---------- #}
{% for feature in features %}
namespace {{ feature.chip_name }} {
inline constexpr uint32_t Id = {{ feature.get_id() }};
} /* {{ feature.chip_name }} */
{% endfor %}
} /* feature */
{% endif %}
{% if cluster.get_attributes() | length > 0 %}

namespace attribute {
{% for attr in cluster.get_attributes() %}
namespace {{ attr.chip_name }} {
inline constexpr uint32_t Id = {{ attr.get_id()}};
{% if attr.has_bounds() %}
inline constexpr {{ attr.get_type() }} Min = {{ attr.get_min_value() }};
inline constexpr {{ attr.get_type() }} Max = {{ attr.get_max_value() }};
{% endif %}
} /* {{ attr.name }} */
{% endfor %}
} /* attribute */
{% endif %}
{% if cluster.get_commands() | length > 0 %}

namespace command {
{% for command in cluster.get_commands() %}
namespace {{ command.chip_name }} {
inline constexpr uint32_t Id = {{ command.get_id()}};
} /* {{ command.chip_name }} */
{% endfor %}
} /* command */
{% endif %}
{% if cluster.get_events() | length > 0 %}

namespace event {
{% for event in cluster.get_events() %}
namespace {{ event.chip_name }} {
inline constexpr uint32_t Id = {{ event.get_id()}};
} /* {{ event.chip_name }} */
{% endfor %}
} /* event */
{% endif %}

} /* {{ cluster.esp_name }} */
} /* cluster */
} /* esp_matter */

