{% if cluster.get_commands() | length > 0 %}
namespace command {
    {% for command in cluster.get_commands() %}
{{ guard_open(command) -}}
command_t *create_{{ command.func_name | lower }}(cluster_t *cluster);
{{ guard_close(command) -}}
    {% endfor %}
} /* command */

{% endif %}