{{ file_header }}

#pragma once
#include <esp_matter_data_model.h>

#include <descriptor.h>
{% for cluster in device.get_unique_mandatory_clusters() %}
#include <{{ cluster.esp_name }}.h>
{% endfor %}
{% for cluster in device.get_unique_optional_choice_clusters() %}
#include <{{ cluster.esp_name }}.h>
{% endfor %}
{% for cluster in device.extra_clusters %}
{{ guard_open(cluster) -}}
#include <{{ cluster.esp_name }}.h>
{{ guard_close(cluster) -}}
{% endfor %}

#include <esp_matter_core.h>

#define ESP_MATTER_{{ device.esp_name | upper }}_DEVICE_TYPE_ID {{ device.id }}
#define ESP_MATTER_{{ device.esp_name | upper }}_DEVICE_TYPE_VERSION {{device.revision }}

{% if device.has_optional_choice_clusters() %}
{% for cluster in device.get_unique_optional_choice_clusters() %}
#define {{ device.esp_name | upper }}_OPTIONAL_CLUSTER_{{ cluster.esp_name | upper }}  (1 << {{ loop.index0 }})
{% endfor %}
{% endif %}

namespace esp_matter {
namespace endpoint {
namespace {{ device.esp_name }} {

typedef struct config {
    cluster::descriptor::config_t descriptor;
{# mandatory clusters #}
    {% for cluster in device.get_unique_mandatory_clusters() %}
{{ guard_open(cluster) -}}
    {% if cluster.server_cluster %}
    cluster::{{ cluster.esp_name }}::config_t {{ cluster.esp_name }};
{# config for device mandatory attributes #}
    {% for attribute in cluster.device_mandatory_attributes %}
    {% if not attribute.is_internally_managed %}
{{ attr_member(attribute, '    ') -}}
    {% endif %}
    {% endfor %}
{# config for device mandatory features #}
    {% for mandatory_feature in cluster.device_mandatory_features %}
    {% if not cluster.device_has_choice_features and mandatory_feature.get_externally_managed_attributes() | length > 0 %}
{{ guard_open(mandatory_feature) -}}
cluster::{{ cluster.esp_name }}::feature::{{ mandatory_feature.func_name }}::config_t {{cluster.esp_name}}_{{ mandatory_feature.func_name }};
{{ guard_close(mandatory_feature) -}}
    {% endif %}
    {% endfor %}
    {% endif %}
{{ guard_close(cluster) -}}
    {% endfor %}
{# optional choice clusters #}
{% if device.has_optional_choice_clusters() %}
{% for cluster in device.get_unique_optional_choice_clusters() %}
    cluster::{{ cluster.esp_name }}::config_t {{ cluster.esp_name }};
{% endfor %}
    uint32_t optional_clusters_mask;

{# set optional clusters mask #}
{% for cluster in device.get_unique_optional_choice_clusters() %}
    cluster::{{ cluster.esp_name }}::config_t &with_{{ cluster.esp_name }}()
    {
        optional_clusters_mask |= {{ device.esp_name | upper }}_OPTIONAL_CLUSTER_{{ cluster.esp_name | upper }};
        return {{ cluster.esp_name }};
    }

{% endfor %}
{% endif %}
{# extra clusters #}
{% for cluster in device.extra_clusters %}
{{ guard_open(cluster) -}}
    cluster::{{ cluster.esp_name }}::config_t {{ cluster.esp_name }};
{{ guard_close(cluster) -}}
{% endfor %}
    {% set init_list = device.get_config_init_list() %}
    {% if init_list %}
    config() : {{ init_list | join(", ") }} {}
    {% endif %}
} config_t;

uint32_t get_device_type_id();
uint8_t get_device_type_version();
endpoint_t *create(node_t *node, config_t *config, uint8_t flags, void *priv_data);
esp_err_t add(endpoint_t *endpoint, config_t *config);
{% if device.esp_name == "bridged_node" %}
{% from "exceptions/bridged_node.jinja" import declarations with context %}
{{ declarations() }}
{% endif %}
} /* {{ device.esp_name }} */
} /* endpoint */
} /* esp_matter */

