{% if cluster.get_events() | length > 0 %}
namespace event {
    {% for event in cluster.get_events() %}
event_t *create_{{ event.func_name | lower }}(cluster_t *cluster);
    {% endfor %}
    {% if cluster.esp_name == "switch_cluster" %}
{% from "exceptions/switch_cluster.jinja" import event_declarations with context %}
{{ event_declarations() }}
    {% endif %}
} /* event */

{% endif %}