{% if cluster.get_events() | length > 0 %}

namespace event {
{% for event in cluster.get_events() %}
event_t *create_{{ event.func_name | lower }}(cluster_t *cluster)
{
    {% if event.get_conformance_condition() %}
    {% if "feature" in event.get_conformance_condition()|string %}
    uint32_t feature_map = get_feature_map_value(cluster);
    {% endif %}
    VerifyOrReturnValue({{ event.get_conformance_condition() }}, NULL);
    {% endif %}
    return esp_matter::event::create(cluster, {{ event.chip_name }}::Id);
}

{% endfor %}
{% if cluster.esp_name == "switch_cluster" %}
{% from "exceptions/switch_cluster.jinja" import event_definitions with context %}
{{ event_definitions() }}
{% endif %}
} /* event */
{% endif %}
