{% set features = cluster.get_features() %}
{% if features | length > 0 %}
namespace feature {
{# ---------- Feature Implementations ---------- #}
{% for feature in features %}
namespace {{ feature.func_name | lower }} {
{% set ext_attrs = feature.get_externally_managed_attributes() %}
{% set has_config = ext_attrs | length > 0 %}
{% if has_config %}
typedef struct config {
    {% for attr in ext_attrs %}
{{ attr_member(attr, '    ') -}}
    {% endfor %}
    {% set init_items = feature.get_config_init_list() %}
    {% if init_items %}
    config() : {{ init_items | join(", ") }} {}
    {% else %}
    config() {}
    {% endif %}
} config_t;
{% endif %}
uint32_t get_id();
esp_err_t add(cluster_t *cluster{% if has_config %}, config_t *config{% endif %});
} /* {{ feature.func_name | lower }} */

{% endfor %}
} /* feature */

{% endif %}