{% set features = cluster.get_features() %}
{% if features | length > 0 %}
namespace feature {
{% if cluster.esp_name == "color_control" %}
{% from "exceptions/color_control.jinja" import color_cap_definitions with context %}
{{ color_cap_definitions() }}
{% endif %}
{% for feature in features %}
namespace {{ feature.func_name | lower }} {
uint32_t get_id()
{
    return {{ feature.chip_name }}::Id;
}

{% set ext_attrs = feature.get_externally_managed_attributes() %}
{% set has_config = ext_attrs | length > 0 %}
esp_err_t add(cluster_t *cluster{% if has_config %}, config_t *config{% endif %})
{
    VerifyOrReturnError(cluster, ESP_ERR_INVALID_ARG);
{% if has_config %}
    VerifyOrReturnError(config, ESP_ERR_INVALID_ARG);
{% endif %}
{% if feature.get_conformance_condition() %}
{% if "feature" in feature.get_conformance_condition()|string %}
    uint32_t feature_map = get_feature_map_value(cluster);
{% endif %}
    VerifyOrReturnError({{ feature.get_conformance_condition() }}, ESP_ERR_INVALID_ARG);
{% endif %}
    update_feature_map(cluster, get_id());
{% if cluster.esp_name == "color_control" %}
    {% from "exceptions/color_control.jinja" import color_cap_call with context %}
    {{ color_cap_call() }}
{% endif %}
    {# --- Attributes --- #}
    {% set attrs = feature.get_attributes() %}
    {% filter indent(4, true) %}
    {% include "common.attribute.cpp.jinja" %}
    {% endfilter %}
    {# --- Commands --- #}
    {% for command in feature.get_commands() %}
{{ guard_open(command) -}}
    command::create_{{ command.func_name }}(cluster);
{{ guard_close(command) -}}
    {% endfor %}
    {# --- Events --- #}
    {% for event in feature.get_events() %}
{{ guard_open(event) -}}
    event::create_{{ event.func_name }}(cluster);
{{ guard_close(event) -}}
    {% endfor %}
    {% set elements = cluster.get_destroyable_elements(feature.func_name) %}
    {% set d_attrs = elements["attributes"] %}
    {% for d_attr in d_attrs %}
    attribute_t *{{ d_attr.func_name }} =
        esp_matter::attribute::get(cluster, attribute::{{ d_attr.chip_name }}::Id);
    if ({{ d_attr.func_name }}) {
        esp_matter::attribute::destroy(cluster, {{ d_attr.func_name }});
    }
    {% endfor %}
    {% set d_commands = elements["commands"] %}
    {% for d_command in d_commands %}
    command_t *{{ d_command.func_name }} = esp_matter::command::get(cluster, command::{{ d_command.chip_name }}::Id, {{ d_command.get_flag() }});
    if ({{ d_command.func_name }}) {
        esp_matter::command::destroy(cluster, {{ d_command.func_name }});
    }
    {% endfor %}
    {% set d_events = elements["events"] %}
    {% for d_event in d_events %}
    event_t *{{ d_event.func_name }} = esp_matter::event::get(cluster, event::{{ d_event.chip_name }}::Id);
    if ({{ d_event.func_name }}) {
        esp_matter::event::destroy(cluster, {{ d_event.func_name }});
    }
    {% endfor %}

    return ESP_OK;
}
} /* {{ feature.func_name | lower }} */

{% endfor %}
} /* feature */

{% endif %}