menu "ESP Matter Bridge"

    config ESP_MATTER_AGGREGATOR_ENDPOINT_COUNT
        int "The number of aggregator endpoints"
        range 1 5
        default 1
        help
            The number of aggregator endpoint for the bridge device

endmenu
