# Compiler options
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_COMPILER_SAVE_RESTORE_LIBCALLS=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y

# Main XTAL Config
CONFIG_XTAL_FREQ_26=y
CONFIG_XTAL_FREQ=26

# Chip revision
CONFIG_ESP32C2_REV_MIN_200=y # minimum support ECO4+

# NimBLE Options
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
CONFIG_BT_NIMBLE_MAX_BONDS=2
CONFIG_BT_NIMBLE_MAX_CCCDS=2
CONFIG_BT_NIMBLE_HOST_TASK_STACK_SIZE=3072
CONFIG_BT_NIMBLE_ROLE_CENTRAL=y
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_SECURITY_ENABLE=n
CONFIG_BT_NIMBLE_50_FEATURE_SUPPORT=n
CONFIG_BT_NIMBLE_WHITELIST_SIZE=1
CONFIG_BT_NIMBLE_GATT_MAX_PROCS=1
CONFIG_BT_NIMBLE_MSYS_1_BLOCK_COUNT=10
CONFIG_BT_NIMBLE_MSYS_1_BLOCK_SIZE=100
CONFIG_BT_NIMBLE_MSYS_2_BLOCK_COUNT=4
CONFIG_BT_NIMBLE_MSYS_2_BLOCK_SIZE=320
CONFIG_BT_NIMBLE_TRANSPORT_ACL_FROM_LL_COUNT=5
CONFIG_BT_NIMBLE_TRANSPORT_ACL_SIZE=255
CONFIG_BT_NIMBLE_TRANSPORT_EVT_SIZE=70
CONFIG_BT_NIMBLE_TRANSPORT_EVT_COUNT=5
CONFIG_BT_NIMBLE_TRANSPORT_EVT_DISCARD_COUNT=3

# Controller Options
CONFIG_BT_LE_CONTROLLER_TASK_STACK_SIZE=3072
CONFIG_BT_LE_LL_RESOLV_LIST_SIZE=1
CONFIG_BT_LE_LL_DUP_SCAN_LIST_COUNT=1
CONFIG_BT_CTRL_RUN_IN_FLASH_ONLY=y

# Bluetooth
CONFIG_BT_RELEASE_IRAM=y

# SPI Configuration
CONFIG_SPI_MASTER_ISR_IN_IRAM=n
CONFIG_SPI_SLAVE_ISR_IN_IRAM=n

# Peripheral Control
CONFIG_PERIPH_CTRL_FUNC_IN_IRAM=n

# ESP-Driver:GPTimer Configurations
CONFIG_GPTIMER_ISR_HANDLER_IN_IRAM=n
GPTIMER_ISR_CACHE_SAFE=n
CONFIG_GPTIMER_OBJ_CACHE_SAFE=n

# Common ESP-related
CONFIG_ESP_SYSTEM_EVENT_QUEUE_SIZE=16
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=2048
CONFIG_ESP_MAIN_TASK_STACK_SIZE=3072

# Memory protection
CONFIG_ESP_SYSTEM_PMP_IDRAM_SPLIT=n

# FreeRTOS
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=2048
CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
CONFIG_FREERTOS_PLACE_SNAPSHOT_FUNS_INTO_FLASH=y
CONFIG_FREERTOS_PLACE_ISR_FUNCTIONS_INTO_FLASH=y

# Wi-Fi
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=3
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=6
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=16
CONFIG_ESP_WIFI_SLP_IRAM_OPT=n

# General Options
CONFIG_MAX_EXCHANGE_CONTEXTS=6
CONFIG_MAX_BINDINGS=6
CONFIG_MAX_PEER_NODES=12
CONFIG_MAX_UNSOLICITED_MESSAGE_HANDLERS=6


# Networking Options
CONFIG_NUM_TCP_ENDPOINTS=1
CONFIG_NUM_UDP_ENDPOINTS=6

# System Options
CONFIG_NUM_TIMERS=24

# Event Logging Options
CONFIG_EVENT_LOGGING_CRIT_BUFFER_SIZE=256
CONFIG_EVENT_LOGGING_INFO_BUFFER_SIZE=256
CONFIG_EVENT_LOGGING_DEBUG_BUFFER_SIZE=256

# Matter One RainMaker
CONFIG_MATTER_ONE_DISABLE_RAINMAKER=y

# Event Loop Library
CONFIG_ESP_EVENT_POST_FROM_ISR=n

# Chip endpoint
CONFIG_ESP_MATTER_MAX_DYNAMIC_ENDPOINT_COUNT=5

# Chip event queue size
CONFIG_MAX_EVENT_QUEUE_SIZE=25

# Heap memory debugging
CONFIG_HEAP_PLACE_FUNCTION_INTO_FLASH=y

# Log
CONFIG_LOG_MAXIMUM_LEVEL_INFO=y
CONFIG_LOG_IN_IRAM=n

# ESP-Driver:SPI Configurations
CONFIG_SPI_SLAVE_IN_IRAM=n
CONFIG_SPI_SLAVE_ISR_IN_IRAM=n

# LibC
CONFIG_LIBC_MISC_IN_IRAM=n
CONFIG_LIBC_LOCKS_PLACE_IN_IRAM=n
CONFIG_LIBC_NEWLIB_NANO_FORMAT=y
CONFIG_NEWLIB_NANO_FORMAT=y

# Hardware Abstraction Layer (HAL) and Low Level (LL)
CONFIG_HAL_ASSERTION_DISABLE=y
CONFIG_HAL_DEFAULT_ASSERTION_LEVEL=0

# SPI Flash driver
CONFIG_SPI_FLASH_AUTO_SUSPEND=y
CONFIG_SPI_FLASH_PLACE_FUNCTIONS_IN_IRAM=n
CONFIG_SPI_FLASH_AUTO_CHECK_SUSPEND_STATUS=y
CONFIG_SPI_FLASH_ROM_IMPL=n

# ESP Timer (High Resolution Timer)
CONFIG_ESP_TIMER_IN_IRAM=n

# Hardware Settings
CONFIG_ESP_INTR_IN_IRAM=n

# ESP-ROM
CONFIG_ESP_ROM_PRINT_IN_IRAM=n

# ESP System Settings
CONFIG_ESP_SYSTEM_IN_IRAM=n
CONFIG_ESP_PANIC_HANDLER_IRAM=n

# Power Management
CONFIG_PM_SLEEP_FUNC_IN_IRAM=n
CONFIG_PM_SLP_IRAM_OPT=n
CONFIG_PM_RTOS_IDLE_OPT=n

# Sleep Config
CONFIG_ESP_SLEEP_POWER_DOWN_FLASH=n

# Peripheral Control
CONFIG_ESP_PERIPH_CTRL_FUNC_IN_IRAM=n
CONFIG_ESP_REGI2C_CTRL_FUNC_IN_IRAM=n

# PHY
CONFIG_ESP_PHY_IRAM_OPT=n